* text=auto !eol
/CHANGES.txt -text
/README.txt -text
raisin/__init__.py -text
raisin/restyler/__init__.py -text
raisin/restyler/box.py -text
raisin/restyler/config.py -text
raisin/restyler/page.py -text
raisin/restyler/templates/javascript.pt -text
raisin/restyler/tests/test_page.py -text
raisin/restyler/utils.py -text
/setup.cfg -text
/setup.py -text
/version.txt -text
